---
const { name, link } = Astro.props;
---

<a
  href={link}
  class="relative flex items-center justify-between overflow-hidden px-3 py-2 w-32 bg-blue-500 text-white rounded-lg group hover:bg-blue-600"
>
  <span
    class="transition-all duration-300 whitespace-nowrap transform group-hover:translate-x-4"
  >
    {name}
  </span>
  <slot />
</a>
