---
const { title } = Astro.props;
---
<div class="flex items-center justify-center select-none mt-6">
  <div
    class="relative w-96 h-44 bg-white rounded-lg p-5 overflow-hidden transition-transform duration-600 ease-in group"
  >
    <div
      class="absolute top-[-15px] right-[-15px] w-6 h-56 bg-blue-500 rounded-full transform scale-100 transition-transform duration-300 ease-out origin-center group-hover:scale-[40] group-hover:delay-20"
    >
    </div>
    <h4 class="text-lg font-medium text-black">{title}</h4>
    <p class="mb-2 text-sm text-black">
      <slot />
    </p>
    <div 
      class="absolute inset-0 flex items-center justify-center text-white text-lg font-bold opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      Ver más
    </div>
  </div>
</div>