---
import Navlink from "@components/Navbar/Navlink.astro";
---
<nav
    class="fixed top-0 left-0 w-full flex justify-center backdrop-blur-sm space-x-6 py-4 z-50"
>
    <Navlink id="0" section="Sobre mi" />
    <Navlink id="1" section="Formación" />
    <Navlink id="2" section="Proyectos" />
    <Navlink id="3" section="Contacto" />
</nav>
