---
const { name, link, icon } = Astro.props;
---

<a href={link}>
  <button
    class="relative flex items-center justify-between overflow-hidden px-3 py-2 w-32 bg-blue-500 text-white rounded-lg group hover:bg-blue-600"
  >
    <!-- Texto -->
    <span
      class="transition-all duration-300 whitespace-nowrap transform group-hover:translate-x-4"
    >
      {name}
    </span>
    <!-- Icono -->
    <img
      src={icon}
      alt={name}
      class="absolute right-3 transform translate-x-10 transition-transform duration-300 group-hover:translate-x-1 w-6 h-6"
    />
  </button>
</a>
