<div
  class="flex items-center justify-center select-none"
>
  <div
    class="relative w-96 h-44 bg-white rounded-lg p-5 overflow-hidden transition-transform duration-600 ease-in group"
  >
    <div
      class="absolute top-[-15px] right-[-15px] bg-blue-500 h-[220px] w-6 rounded-[32px] transform scale-100 origin-center transition-transform duration-300 ease-out group-hover:scale-[40] group-hover:delay-200"
    >
    </div>
    <h4>Gmail</h4>
    <p class="py-2 text-black group-hover:text-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam porro
      similique aliquid debitis ipsam soluta dolorum ipsa! Voluptate, suscipit
      iure.
    </p>
  </div>
</div>
