---
import '@splidejs/splide/css';
---
<div class="splide" role="group">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div id="sobre-mi" class="text-white">
          <h1>Sobre mi</h1>
          <p>blablabla</p>
        </div>
      </li>
      <li class="splide__slide">
        <div id="formacion" class="text-white">
          <h1>Formación</h1>
          <p>blablabla</p>
        </div>
      </li>
      <li class="splide__slide">
        <div id="proyectos" class="text-white">
          <h1>Proyectos</h1>
          <p>blablabla</p>
        </div>
      </li>
      <li class="splide__slide">
        <div id="contacto" class="text-white">
          <h1>Contacto</h1>
          <p>blablabla</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  import Splide from '@splidejs/splide';
  new Splide( '.splide' ).mount();
</script>
