<nav
    class="fixed top-0 left-0 w-full flex justify-center backdrop-blur-sm space-x-6 py-4 z-50"
>
    <a
        data-slide="0"
        class="nav-link text-white hover:text-blue-500 transition-colors duration-300"
        >Sobre mi</a
    >
    <a
        data-slide="1"
        class="nav-link text-white hover:text-blue-500 transition-colors duration-300"
        >Formación</a
    >
    <a
        data-slide="2"
        class="nav-link text-white hover:text-blue-500 transition-colors duration-300"
        >Proyectos</a
    >
    <a
        data-slide="3"
        class="nav-link text-white hover:text-blue-500 transition-colors duration-300"
        >Contacto</a
    >
</nav>
