---
import "@splidejs/splide/css";
import { getProjectsGit } from "@datos/projectsGit";
import Button from "@components/Button/Button.astro";
import Icon from "@components/Icon/Icon.astro";
import Card from "@components/Card/Card.astro";
const projects = await getProjectsGit();
---

<div class="splide" role="group">
  <div class="splide__track">
    <ul class="splide__list">
      <li class="splide__slide">
        <div id="sobre-mi" class="pb-12 text-white">
          <h1 class="text-xl font-bold">Sobre mi</h1>
          <p>blablabla</p>
        </div>
      </li>
      <li class="splide__slide">
        <div id="formacion" class="pb-12 text-white">
          <h1 class="text-xl font-bold">Formación</h1>
          <p>blablabla</p>
        </div>
      </li>
      <li class="splide__slide">
        <div id="proyectos" class="pb-12 text-white">
          <h1 class="text-xl font-bold">Proyectos</h1>
          <div class="inline-grid grid-cols-2 grid-rows-2 gap-4 mt-6">
            {
              projects.map((project: any) => (
                <Card title={project.name}>
                  {project.description}
                  <br />
                  <a
                    href={project.html_url}
                    class="hover:underline hover:text-white"
                  >
                    Ver proyecto
                  </a>
                </Card>
              ))
            }
          </div>
        </div>
      </li>
      <li class="splide__slide">
        <div id="contacto" class="pb-12 text-white text-center">
          <h1 class="text-xl font-bold mb-6">Contacto</h1>

          <div
            class="inline-grid grid-cols-2 gap-4 items-center justify-center"
          >
            <Button name="Gmail" link="mailto:lautanba@gmail.com">
              <Icon name="Gmail" icon="/Gmail_Icon.svg" />
            </Button>

            <Button
              name="LinkedIn"
              link="https://www.linkedin.com/in/lautaro-rodriguez-brown-7294b9257/"
            >
              <Icon name="LinkedIn" icon="/Linkedin_Icon.svg" />
            </Button>

            <Button name="Github" link="https://github.com/LautaRB">
              <Icon name="Github" icon="/Github_Icon.svg" />
            </Button>
          </div>
        </div>
      </li>
    </ul>

    <script>
      import Splide from "@splidejs/splide";
      let splide = new Splide(".splide", {
        type: "loop",
        padding: "5rem",
        arrows: false,
      });

      splide.mount();

      // Maneja los clics del navbar
      document.querySelectorAll(".nav-link").forEach((link) => {
        link.addEventListener("click", (event) => {
          event.preventDefault(); // Evita el comportamiento por defecto del enlace

          // Índice del slide correspondiente
          const targetIndex = parseInt(
            link.getAttribute("data-slide") ?? "0",
            10
          );

          // Navega al slide correspondiente
          splide.go(targetIndex);
        });
      });
    </script>
  </div>
</div>
